/* normalize css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--black);
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
  color: black;
}
li {
  list-style: none;
}
.roww{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.container{
    padding-top: 30px;
    padding-bottom: 20px;
}
/* colors and fonts*/
:root {
  --black: #000000;
  --text-orange: #ff9a68;
  --font-courier: "Courier New", Courier, monospace;
  --font-roboto: "Iceland", sans-serif;
}
/* get start heading */
#navbar{
  border-bottom: 2px solid var(--text-orange);
}
#navbar .img-box img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.img-box , .contact-box{
    padding: 0 20px ;
}
.fa-phone {
    font-size: 25px;
    color: white;
    margin-right: 20px;
}
.fa-ellipsis-vertical {
    font-size: 25px;
    color: white;
}
h1{
    color: aliceblue;
}